<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="firstName" placeholder="Nombre" id="firstName">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Apellido" id="lastName">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="email" placeholder="Correo Electrónico" id="email">
    </mat-form-field>
    <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Contraseña" id="password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Registrar Usuario</button>
</form>