<mat-toolbar color="primary">
    <div class="header-title">
        <span [routerLink]="['/']">Example app</span>
    </div>
    <div class="header-icon">
        <mat-icon [routerLink]="['/signin']">account_circle</mat-icon>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-question-detail></app-question-detail> -->
<!-- <app-signin-screen></app-signin-screen> -->
<!-- <app-signup-screen></app-signup-screen> -->
<!-- <app-question-list></app-question-list> -->
<!-- <app-question-form></app-question-form> -->