<mat-toolbar color="primary">
    <div class="header-title">
        <span [routerLink]="['/']">Example app</span>
    </div>
    <div class="header-icon">
        <button *ngIf="!isLoggedIn()" [routerLink]="['/signin']">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>

    <div *ngIf="isLoggedIn()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                {{ fullName() }}
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-question-detail></app-question-detail> -->
<!-- <app-signin-screen></app-signin-screen> -->
<!-- <app-signup-screen></app-signup-screen> -->
<!-- <app-question-list></app-question-list> -->
<!-- <app-question-form></app-question-form> -->